.calculator {
    margin: 50px auto;
    min-width: 285px;
    max-width: 35%;
    background-color: 	var(--dark);
    padding: 12px 20px;
    border-radius: var(--border-radius);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-rows: 80px;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 500ms;
    background-color: var(--dark);
    font-size: 20px;
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    border: none;
}

.btn-bold {
    font-weight: bold;
    background-color: #404066;
}

#clear, #equals {
    background-color: var(--primay);
}

.btn-wide {
    grid-column: span 2 / auto;
}

.btn-tall {
    grid-row: span 2 / auto;
}