.calculator {
    margin: 50px auto;
    width: 320px;
    background-color: 	#575454;
    padding: 2px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1ff);
}

.btn {
    width: 80px;
    height: 80px;
    background-color: #88cafc;
}