.screen {
    width: 90%;
    margin: 4px auto;
    padding: 0px 12px;
    background-color: var(--neutral-gray);
    color: white;
    font-size: 20px;
    line-height: 54px;
    text-align: right;
    padding: auto 0px;
    border-radius: var(--border-radius);
    border: 2px inset solid black;
}